.site {
  font-family: 'Helvetica', sans-serif;
  color: #3e3e41;
  padding: 3.25rem;
  line-height: 2rem;

  &__me {
    width: 100%;

    @media screen and (min-width: 650px) {
      max-width: 550px;
      width: 60%;
    }
  }
}

a {
  color: #3e3e41;

}
